body{
	  background : url("11.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
b{
	font-size: 15px;
}
input{
	background-color: beige !important;
}
th{
	background-color: #222;
	color: white;
}
.col-sm-8{
	background-color: #decba5;
	padding-top: 25px;
}

.well{
	background-color: beige;
	color: beige;
	padding: 0px;
}
#well{
	width: 20px;
}
.approved{
	background-color: #D2EACB !important;
	color: #D2EACB;
}

.glyphicon-exclamation-sign{
	color: red;

}
.purchase{
	background-color: inherit;
}