body{
	  background : url("4.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
.btn-submit{
	float: right;
	clear: both;
}
.marge{
	margin-top: 150px;
}
/*#login{
	width: 40%;
	background-color:#050f2c;


}
#login h2{
	text-align: center;
	border-style: outset;
	background-color:  	#aca095;
	margin-top: 0px;
	padding: 10px 0 10px 0;
	border-radius: 5px;
}
#user_name{
	width: 40%;
	margin:0 0 0 20px;
}
#password{
	width: 40%;
	margin:0 0 0 20px;
}
#login button{
	margin-left: 300px;
	padding: 10px 20px 10px 20px;
	border-top-style: none;
}
#login input{
	margin: 12px;
	border-style: outset;
	padding: 12px;
	font-size: 16px;
}*/
/*body{
	background-image: url("purchase (1).png")
}*/
.login{
	border-style: outset;
		/*background-color:#003666;*/
		color: white;

}