
.stylevalue{
	display: inline;
}
thead{
	background-color:#222;
	color: white;
}
tbody{
	background-color: #decba5;
}
#viewmore{
	padding: 8px;
	border-style: none;
}
/*.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
   margin-left: auto; 
}*/

.panel{
	padding: 0px;
}
.panel-body{
	padding: 0px;
}

.panel-default>.panel-heading{
	background-color:#e8d4a2;

	float: left;
	 padding-right: 0px; 
  padding-left: 0px; 
}

/*.panel-heading {
  padding: 0px 0px;
 
}*/
/*@media only screen and (min-width: 375px) {
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
   margin-left: auto; 
}*/
	

