
.stylevalue{
	display: inline;
}
thead{
	background-color:#222;
	color: white;
}

#viewmore{
	padding: 8px;
	border-style: none;
}
/*.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
   margin-left: auto; 
}*/

.panel{
	padding: 0px;
}
.panel-body{
	padding: 0px;
}

.panel-default>.panel-heading{


	 padding-right: 0px; 
  padding-left: 0px; 
}
.modal-title{
    text-align: center;
}
/*#left{
      margin-top: 23px;
}
#modalTitle{
  text-align: center;
}*/
/*.panel-heading {
  padding: 0px 0px;
 
}*/
/*@media only screen and (min-width: 375px) {
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
   margin-left: auto; 
}*/
	


@media print
{    
    .modal-header .close
    {
        display: none !important;
    }
}