body{
	  background : url("11.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
input{
	background-color: beige !important;
}
select{
	background-color: beige !important;
}
}
.container{
min-height: 589px;
}
h6{
	font-size: 15px;
}
th{
	min-width: 190px;
}
.Purchase_Details_data{
	float: left;
}
#change_password{
	float: right;
}
#reset_data {

	background-color: #decba5; 
}
#addItem{
	margin-left: 0px !important;
	float: right;
	padding: 0px !important;
}
.panel {
	padding-left: 0px ;
	padding-right: 0px ;
}
.panel-body{
	padding: 15px 0 15px 0;
}
#itemTableHeader{
	background-color: #decba5;
}
.panel-default>.panel-heading{
	background-color: #f5f5f5;;
	clear: left;
}

.btn-submit:active{
    background:olive;
}

#Details_data{
	background-color:#f5f5f5 !important;
}
footer{
	background-color: black;
	color: white;
	width: 100%;
}
.well{
	background-color: #FD7777;
	color: #FD7777;
	padding: 0px;
}
#well{
	width: 20px;
}
.approved{
	background-color: #D2EACB !important;
	color: #D2EACB;
}
.r{
	margin-top:100px;
}
@media only screen and (min-width: 375px) {
	th{
	min-width: 80px !important;
	}
	.col-sm-7{
		margin: auto;
	}
	.style{
		clear: both;
		padding-left: 10%;
	}
	.pull-right{
		text-align: center;
	}

}


